@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,600;1,700;1,900&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    background-color:black;
    width: 100%;
    z-index: 999;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px;
}
.logo{
    text-decoration: none;
    text-transform: uppercase;
    color:blue;
    font-size: 1.9em;
    font-weight: 800;
}
.navigation a{
    text-decoration: none;
    font-size: 1.4em;
    font-weight: 400;
    padding-left: 30px;
}
.navigation a:hover{
    color: brown;
}
section{
    padding: 100px 150px;
}
.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(./images/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.main h2{
    color: white;
}
.main h2 span{
    color: blue;
    display: inline-block;
    margin: 20px 0px;
    font-weight: 600;
    font-size:xx-large;
    letter-spacing: 1px;
}
.main h3{
    color: white;
    margin-bottom: 20px;
}
.main .btn{
    display: inline-block;
    text-decoration: none;
    padding: 0.9375em 2.1825em;
    font-size: 1.1em;
    font-weight: 500;
    color: white;
    background-color: #3a6cf4;
    border-radius: 10px;
    margin-bottom: 30px;
    transition: 0.7s;
}
.main .btn:hover{
    background-color: #0a49f6;
    transform: scale(1.1);
}
.media a {
    display: inline-block;
    padding-right: 25px;
    color: aliceblue;
    font-size: 1.7em;
}
.title{
    display: flex;
    justify-content: center;
    color: #0a49f6;
    font-size: 2.2em;
    font-weight: 800;
    margin-top: -30px;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    min-height: 250px;
    background-color: white;
    width: 300px;
    box-shadow: 0 -5px 25px rgba(1 1 1/15%);
    border-radius: 10px;
    padding: 25px;
    margin: 20px;
    transition: 00.7s;
}
.icon{
    color: #0a49f6;
    display: flex;
    justify-content: center;
    font-size: 4em;
    font-weight: 800;
}
.info h2{
    color: #0a49f6;
    display: flex;
    justify-content: center;
}
.info p{
    display: flex;
    text-align: center;
    font-size: 1.2em;
}
.card:hover{
    transform: scale(1.1);
}
.project{
    background-color: black;
}
.project .content{
    margin-top: 50px;
}
.project-card{
    border: 2px solid white;
    border-radius: 5px;
    width: 250px;
    min-height: 14em;
    overflow: hidden;
    transition: 0.7s;
    margin: 10px;
    background-color: white;
}
.project-card:hover{
    transform: scale(1.1);
}
.project-image img{
    width: 100%;
}
.project-info {
    padding-left: 10px;
} 
.project-info a{
    text-decoration: none;
}
.strong{
    display: flex;
    justify-content: space-between;
}
.card-contect .card{
    padding: 30px;
    min-height: 50px;
    margin-top: 20px;
}
.card-contect .info h2{
    color: black;
    margin-top: 20px;
}
.card-contect .info p{
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 1.3em;
}
.footer{
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 15px 20px ;
}
.footer p{
    font-size: larger;
    color: white;

}
.footer span{
    color: #0a49f6;
}
